{% extends 'base.html' %}
{% block title %}BGD Venture | Contact Information{% endblock %}
{%load static %}
{% block body %}

<style>
    .btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
}
</style>

<div class="container" style="margin-left: 10%; margin-right: 10%; margin-top: 100px; margin-bottom: 5%;">

    <div class="row">
        <div class="clo-sm-6 content" style="font-size: 50px; text-align: center;">
            <h3>"{{ blog.blog_title }}"</h3>
        </div>

        <br>
        <br>

        <div class="clo-sm-6">
            <img src="{{ blog.blog_image.url }}" width="40%" style="margin-left:25%">
        </div>

        <br>
        <br>

        <h4>
            {{ blog.blog_content | safe }}
        </h4>
    </div>

</div>

{% endblock %}