{% extends 'base.html' %}
{% block title %}BGD Venture | Contact Information{% endblock %}
{%load static %}
{% block body %}


<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <!-- <h2>Portfolio Details</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li>Portfolio Details</li>
                </ol> -->
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->


    {% for row in all_blog %}
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="{{ row.blog_image.url }}" alt="">
                            </div>

                            <!-- <div class="swiper-slide">
                                <img src="{% static "assets/img/portfolio/2.jpg" %}" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="{% static "assets/img/portfolio/3.jpg" %}" alt="">
                            </div> -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">

                    <!-- <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web design</li>
                            <li><strong>Client</strong>: ASU Company</li>
                            <li><strong>Project date</strong>: 01 March, 2020</li>
                            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div> -->

                    <div class="portfolio-description">
                        {% comment %} <h2>This is an example of portfolio detail</h2> {% endcomment %}
                        <a href="{% url 'venture_app:blog_details' slug=row.slug %}" style="color: black;"><h1 class="mt-5 mb-3 font-weight-bold">{{ row.blog_title }}</h1></a>

                        <h6><strong>Publish On: </strong>{{ row.publish_date }}</h6>
                        <br>
                        <p>
                            {{ row.short_description | linebreaks }}
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

    {% endfor %}

</main>

{% endblock %}