{% extends 'base.html' %}
{% block title %}BGD Venture | Get Investment{% endblock %}
{%load static %}
{% load crispy_forms_tags %}
{% block body %}


<main id="main">


    {% if registered == True %}


    <div class="alert alert-warning alert-dismissible fade show" style="margin-left: 25%; margin-right: 25%; margin-top: 5%;" role="alert">
        <strong>Applay Successfully Completed!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% endif %}


    <div class="p-5" style="background-color: rgb(240, 252, 252);">
        <h1 class="text-center">Apply For Investment</h1>
    </div>


<!-- style="padding-left: 10%; padding-right: 10%;" -->

<div class="container" style="background-color: rgb(230, 230, 230);">
    <section class="p-5">
        <!-- <h2 class="text-center">Apply For Investment</h2> -->
        <form method="post">
            {% csrf_token %}
            <!-- {{ form|crispy }} -->

            <!-- <h1 class="text-center">COMPANY</h1> -->

            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.startup_name|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.starting_date|as_crispy_field }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.address|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.industry|as_crispy_field }}
                </div>
            </div>


            <!-- <h1 class="text-center">PRODUCT</h1> -->

            <div class="row">
                <div class="col-12 col-lg-12">
                    {{ form.product_description|as_crispy_field }}
                </div>
            </div>




            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.stage|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.numbers_of_founders|as_crispy_field }}
                </div>
            </div>



            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.team_size|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.investment_requirement|as_crispy_field }}
                </div>
            </div>





            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.monthly_revenue|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.name|as_crispy_field }}
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.designation|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.phone_number|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.linkedin|as_crispy_field }}
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.website|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.additional_documents|as_crispy_field }}
                </div>
            </div>










            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Applay">
            </div>
        </form>
    </section>
</div>

</main>

{% endblock %}