{% extends 'base.html' %}
{% block title %}BGD Venture | Get Investment{% endblock %}
{%load static %}
{% load crispy_forms_tags %}
{% block body %}


<main id="main">


    {% if registered == True %}


    <div class="alert alert-warning alert-dismissible fade show" style="margin-left: 25%; margin-right: 25%; margin-top: 5%;" role="alert">
        <strong>Successfully Completed!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    {% endif %}


<div class="container" style="background-color: rgb(230, 230, 230);">
    <section class="m-5">
        <h2 class="text-center">Let's Get in Touch</h2> 
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </section>
</div>

</main>

{% endblock %}