{% extends 'base.html' %}
{% block title %}BGD Venture | Contact Information{% endblock %}
{%load static %}
{% block body %}

<main id="main">

    <div class="container">

        <div class="p-5" style="background-color: rgb(240, 252, 252);">
            <h1 class="text-center">About Us > Our Purpose</h1>
        </div>

        <div class="row pt-4">
            <div class="col-12 col-lg-6">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis temporibus quo ipsa quae expedita, aliquid voluptatibus. Id perferendis itaque explicabo praesentium porro magnam obcaecati voluptas est rem. Accusantium id esse quo. Harum, sint dolor fugit, quod aperiam pariatur consequatur molestiae deleniti quo illum perspiciatis? Suscipit magni adipisci perspiciatis consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis temporibus quo ipsa quae expedita, aliquid voluptatibus. Id perferendis itaque explicabo praesentium porro magnam obcaecati voluptas est rem. Accusantium id esse quo. Harum, sint dolor fugit, quod aperiam pariatur consequatur molestiae deleniti quo illum perspiciatis? Suscipit magni adipisci perspiciatis consequuntur.</h5>
            </div>
            <div class="col-12 col-lg-6">
                <!-- <div class="d-flex align-items-center justify-content-center about-img"> -->
                    <img src="{% static "assets/img/about/7041.jpg" %}" class="img-fluid" alt="" data-aos="zoom-in" />
                <!-- </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="{% static "assets/img/about/3441210.jpg" %}" class="img-fluid" alt="" data-aos="zoom-in" />
            </div>
            
            <div class="col-12 col-lg-6">
                <h1 class="fw-bold">Mission:</h1>
                <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, nisi modi expedita vitae fugit deserunt ad ea ipsum optio suscipit perferendis sunt consectetur et omnis. Consequuntur, nisi modi expedita vitae fugit deserunt ad ea ipsum optio suscipit perferendis sunt consectetur et omnis.</h5>

                <h1 class="fw-bold">Vision:</h1>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam, fugiat iste eum, quis placeat numquam unde quae necessitatibus ex officiis quisquam cupiditate consequuntur voluptatum? Consequuntur, nisi modi expedita vitae fugit deserunt ad ea ipsum optio suscipit perferendis sunt consectetur et omnis.</h5>
            </div>
        </div>

        <div class="p-5" style="background-color: rgb(240, 252, 252);">
            <h1 class="text-center">Corporate Sponsors</h1>
        </div>

        <div class="row">
            <!-- <div class="col-12 col-lg-6"> -->
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <!-- <img src="{% static "assets/img/team/team-1.jpg" %}" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title fw-bold">National Bank Limited</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title fw-bold">Lanka Bangla</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title fw-bold">Dataedge</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title fw-bold">EBL Bank</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <!-- <img src="..." class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title fw-bold">Standard Chartered</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                          <!-- <img src="..." class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title fw-bold">Islami Bank</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                </div>
            <!-- </div> -->
        </div>

    </div>


</main>

{% endblock %}